xarray[complete]
dask[complete]
pandas
numba
dask_image
matplotlib
ipympl
scipy
numpy
scikit_learn
toolz
opencv-python>=4.5.5.64
soundfile>=0.10.0
netCDF4
tqdm
pooch
eccodes==1.2.0
Pillow
aiohttp
branca
duckdb
folium
geopandas
plotly
shapely
PyYAML
